---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../components/sections/Hero';
import { Features } from '../components/sections/Features';
import { Services } from '../components/sections/Services';
import Coverage from '../components/sections/Coverage.astro';
import { Timeline } from '../components/sections/Timeline';
import Team from '../components/sections/Team.astro';
import { FAQ } from '../components/sections/FAQ';
import { ContactForm } from '../components/form/ContactForm';
---

<Layout title="PresuroHome | Holter y Presurometría a Domicilio">
	<main class="w-full overflow-x-hidden">
		<Hero client:load />
		<Features client:visible />
		<Services client:visible />
		<Coverage />
		<Timeline client:visible />
		<Team />
		<FAQ client:visible />
		<ContactForm client:visible />
	</main>
</Layout>
